body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../img/background .png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
.login-page {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: 58px;
    margin: 0 auto;
    justify-content: space-between;
}
.header-menu-icons-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 79px;
}
.login-title {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    padding-left: 79px;
}
.login-title:hover {
    color: #01813F;
}
.svg-img path:hover {
    fill: #01813F;
}
.header-menu-login a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}
.header-menu-login-signup:hover {
    color: #01813F;
}
.header-menu-icons a {
    margin-left: 25px;
}
.img-svg {
    padding-left: 25px;
}
.header-menu-login {
    margin-left: 20px;
}
.login-form {
    background: #FFFFFF;
    padding: 31px 60px 38px 60px;
    box-sizing: border-box;
    width: 100%;
    max-width: 444px;
    min-height: 584px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-title-text:before {
    background-image: url("../img/square.svg");
    content: "";
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-left: -60px;
    margin-right: 40px;
}
.login-title-text {
    font-size: 20px;
    color: #434343;
    display: inline-block;
    height: 1.5em;
}
.login-title-text > a {
    position: relative;
    left: 60%
}
.login-input .text-input-field {
    border-radius: 4px;
    width: 100%;
    height: 44px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
}
.login-input .text-input-field:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}
input:focus:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}
.text-input-field {
    padding-left: 20px;
    color: #BEBEBE;
}
.login-title-text-login {
    text-decoration: none;
    color: #3CB878;
    margin-left: 10px;
}
.login-title-text-login:hover{
    color: #01813F;
    text-decoration: underline;
}
.btm-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.btm_facebook-left {
    background: #305DB8;
    width: 160px;
    height: 45px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    justify-content: space-around;
}
.btm_facebook-left:hover {
    background: #022263;
}
.btm_google-right:hover {
    background: #AB1F09;
}
.btm_facebook {
    text-decoration: none;
    font-size: 16px;
}
.btm_google {
    text-decoration: none;
    font-size: 16px;
}
.btm_google-right {
    background: #DF4A32;
    width: 160px;
    height: 45px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: space-around;
}
input:focus {
    outline-width: 0;
}
.text-item {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 16px;
}
.text-item span {
    position: relative;
    color: #848484;
}
.text-item span:before {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    top:50%;
    right: 20px;
    height: 1px;
}
.text-item span:after {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    top:50%;
    left: 20px;
    height: 1px;
}
.custom-checkbox {
    font-size: 14px;
    color: #434343;
}
.custom-checkbox a {
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
    padding-left: 3px;
}
.custom-checkbox a:hover {
    color: #01813F;
    text-decoration: underline;
}
button {
    height: 46px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background: #01813F;
}
.custom-checkbox-block {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    margin-right: 8px;
}
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox-block {
    background-image: url("../img/checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
}
