
input:focus {
    border: 4px solid green;
    background-color: greenyellow;
}
input {
    border-radius: 6px;
    padding: 8px;
    border: 1px solid cornflowerblue;
}
#list {
    list-style: none;
    padding-left: 0px;
    margin: 3px;
}
span {
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 2px -2px 35px 8px rgba(34, 60, 80, 0.2);
    margin-bottom: 15px;
    width: 220px;
    border-radius: 6px;
}
button {
    font-size: 18px;
    background-color: grey;
    padding: 8px;
    margin: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.list-item-remove-btn {
    margin-left: 20px;
    margin-top: 20px;
    width: 15px;
    height: 15px;
    padding-right: 2px;
    text-align: center;
    border-radius: 20%;
    cursor: pointer;
}

.error {
    color: red;
    display: block;
    width: 180px;
    border-radius: 5px;
}
.d-none {
    display: none;
}
.list-item {
    padding-bottom: 1px;
    padding-top: 1px;
}