body {
    font-family: 'Roboto', sans-serif;
    margin: 98px;

}
.container {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    margin-top: 200px;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
.main-logo {
    text-decoration: none;
    margin-bottom: 38px;
    padding-bottom: 38px;
}
.main-logo-textra {
    width: 0;
    height: 79px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-align: start;
    justify-content: center;
    color: #4BCAFF;
}
.main-logo-textmda_js {
    width: 22%;
    height: 79px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-align: end;
    color: #000000;
}
.nav-menu {
    display: flex;
}
.nav-menu-item a {
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
}
.app--night a {
    color: black;
}

.nav-menu li {
    width: 1280px;
    margin-right: 1px;
    white-space: nowrap;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
    background: #35444F;
    height: 50px;
    color: #35444F;
}
.nav-menu-item{
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.nav-menu-item:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    background: #222F3A;
}
.aside-menu {
    border: 1px solid #000000;
    margin-top: 48px;
    padding-top: 26px;
    padding-left: 44px;
    font-size: 27px;
    Width: 298px;
    Height: 399px;
}

.aside-menu-left {
    margin: 1px auto;

}
.aside-menu-left-item a{
    text-decoration: none;
    color: #485863;

}
.aside-menu-left-item{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.aside-menu-left-item:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    background: rgba(99, 105, 110, 0.48);
    margin-right: 15px;
    margin-left: -30px;
    padding-left: 50px;
}
.aside-menu-left-item {
    padding: 25px;
}
.img {
    display: block;
    Width: 320px;
    Height: 381px;
    padding-top: 75px;
    padding-left: 297px;
}
.img-ram {

    border: 1px solid #000000;
    display: block;
    margin-left: 50px;
    margin-top: 48px;
    margin-right: auto;
    Width: 885px;
    Height: 529px;
    text-align: center;
    justify-content: center;
}
.img-ram img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.img-ram img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.aside-main {
    display: flex;
    margin:1px auto;
}
.text {
    font-size: 18px;
    margin-left: 396px;
    margin-top: 37px;
}
.tex2 {
    margin-top: 34px;
    margin-bottom: 54px;

}
.footer-menu  {
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}
.footer-menu-botton {
    display: flex;
    padding-top: 25px;

}
.footer-menu-item a {
    text-decoration: none;
    text-align: center;
    color: #0C1927;
    font-size: 28px;
    padding-left: 40px;
}
.footer-menu-item-copyright a {
    text-decoration: none;
    text-align: center;
    color: #0C1927;
    font-size: 24px;
    padding-left: 82px;
}

.footer-menu-item a:hover {
    color: #4BCAFF;
    text-decoration: underline;
}
.app--night a:hover {
    color: black;
}
.app {
    /*position: relative;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.app--night {
    background-color: #2d2d2d;
    color: #485863;
}

.switch {
    top: 15px;
    left: 15px;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b3b3b;
    box-shadow: 0 0 3px 1px black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3b3b3b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #61808a;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
