.header-menu {
  padding-top: 14px;
}

.header-menu__tab   {

  visibility: hidden;
  position: absolute;
  top:23px;
  right:28px;
}

.header-menu__tab.--active   {
  visibility: visible;
}

.header-menu__menu {
  position: absolute;
  right: 0;
  top: -400px;
  transition: top 0.4s;
  background-color: white;
  min-width: 182px;
  list-style-type: none;
}
.header-menu__menu.--active {
  top: 56px;
  transition: top 0.4s;
}
.header-menu__image {
  margin-top: 83px;
  margin-bottom: 38px;
  width: 100%;
}

.header-menu__menu-li {
  padding-top: 2px;
  padding-bottom: 2px;
}
.header-menu__menu-li {
  &:hover {
    cursor: pointer;
    background: $hoverBackground;
    &:hover> a {color: $hoverTextColor;}
  }
}


.header-menu__menu-items {
  @include fontMixin(normal, normal, 11px, 22px, $menu-itemsColor);
  padding-left: 12px;
  text-transform: uppercase;
}

