body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1900px;
    margin: 0 auto;
    background: #F2F2F2;
}
.container-card {
    display: flex;
    padding-top: 50px;
    gap: 32px;
    justify-content: center;
    padding-bottom: 72px;
}
.container-header {
    width: 1900px;
    margin: 0 auto;
    background: #F2F2F2;

}
.container-main {
    width: 1900px;
    margin: 0 auto;
    background: #FFFFFF;

}
.text-hot-news {
    text-decoration: none;
}
.logo {
    display: flex;
    background: #313131;
    width: 1900px;
    height: 70px;
    margin: 0 auto;
}
.main-menu {
    display: flex;
}
.main-menu-list {
    display: flex;
    padding-right: 35px;
    padding-top: 28px;
    padding-bottom: 26px;
    margin-left: 400px;
}
.main-menu-list-item a {
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 35px;
}
.main-logo {
    color: #FFFFFF;
    margin-right: 27px;
}
.main-logo img {
    margin: 22px 21px 22px 27px;
}
.main-logo-text {
    color: #FFFFFF;
    margin-right: 27px;
    font-size: 22px;
    margin-top: 22px;
}
.main-menu-list a:hover {
    color: #4BCAFF;
}
.container-header {
    background-image: url("../img/img_header/header-background.png");
    display: flex;
    width: 1900px;
    height: 369px;
    color: #ffffff;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: bold;
}
.button {
    display: flex;
    position: absolute;
    margin-top: 180px;
}
.button-green a {
    border-radius: 5px;
    padding: 19px;
    line-height: 25px;
    text-align: center;
    border: none;
    text-decoration: none;
    background: #89CA62;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    margin-right: 20px;
}
.button-blue a {
    border-radius: 5px;
    padding: 19px;
    line-height: 25px;
    text-align: center;
    border: none;
    text-decoration: none;
    background: #14B9D5;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    display: flex;
}
.main-text {
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    padding-top: 49px;
    font-weight: bold;
    text-transform: uppercase;
}
.services-list {
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    text-align: center;
}
.services-card {
    margin-block-start: 60px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
.services-card-content {
    color: #0C1927;
    text-decoration: none;
    height: 45px;
    padding-top: 22px;
    justify-content: center;
    background: #FFFFFF;
    margin-bottom: 28px;
}
.main-img {
    background-image: url("../img/img_main/parallax-bg.jpeg");
    width: 100%;
    height: 588px;
    overflow: hidden;
    text-transform: uppercase;
    display: flex;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    justify-content: center;
    padding-top: 108px;
    position: relative;
}
.line {
    display: flex;
    border-bottom: 1px solid;
    color: #18B4CF;
    width: 60px;
    height: 3px;
    margin-top: -338px;
   position: absolute;
    margin-left: 920px;
    justify-content: center;
    align-items: center;
}
.partners img {
    padding-right: 58px;
    align-items: center;
    margin-top: -380px;
    z-index: 1;
}
.partners {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-inline {
    margin-top: 49px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 44px;
    width: 1167px;
    margin: 0 auto;
    margin-top: -70px;
}
.grid-container div {
    color: #353A3D;
    text-align: end;
    display: flex;
    align-items: center;
    background: #F9F7F7;
}
.grid-container h2 {
    color: #353A3D;
   font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 15px;
}
.grid-container p {
    padding-top: 15px;
    padding-right: 14px;
    font-size: 14px;
    color: #5B6469;
    text-align: right;
    padding-bottom: 7px;
}
.grid-item-1 {
    grid-area: item-1;
    height: 259px;
    margin-top: 130px;
}
.grid-item-2 {
    grid-area: item-2;
    flex-direction: column;
    height: 259px;
    margin-top: 130px;

}
.grid-item-3 {
    grid-area: item-3;
    flex-direction: column;
}
.grid-item-4 {
    grid-area: item-4;
    flex-direction: column;
}
.grid-item-5 {
    grid-area: item-5;
    flex-direction: column;
}
.grid-item-6 {
    grid-area: item-6;
    flex-direction: column;
}
.grid-item-7 {
    grid-area: item-7;
    flex-direction: column;
    height: 259px;
}
.grid-item-8 {
    grid-area: item-8;
    height: 259px;
}
.grid-item-1 { grid-area: 1 / 1 / 2 / 4; }
.grid-item-2 { grid-area: 1 / 4 / 2 / 5; }
.grid-item-3 { grid-area: 2 / 1 / 3 / 3; }
.grid-item-4 { grid-area: 2 / 3 / 3 / 5; }
.grid-item-5 { grid-area: 3 / 1 / 4 / 3; }
.grid-item-6 { grid-area: 3 / 3 / 4 / 5; }
.grid-item-7 { grid-area: 4 / 1 / 5 / 2; }
.grid-item-8 { grid-area: 4 / 2 / 5 / 5; }

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 1929px;
    height: 80px;
    background: #000000;
    align-items: center;
    margin-top: -50px;
}
.footer p {
    color: white;
    padding-left: 367px;
    font-size: 14px;
}
.footer-item1 { grid-area: 1 / 1 / 2 / 2; }
.footer-item2 { grid-area: 1 / 2 / 2 / 3; }
.footer-item2 div {
    margin-right: 386px;
    text-align: end;
}