#cards {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: darkgrey;
    width: 60%;
    margin-top: 30px;
    padding: 15px;
    border: 2px solid #3e7ccc;
    border-radius: 16px;
    position: relative;
}

.card__delete {
    position: absolute;
    right: 15px;
    top: 15px;
    border: 2px solid #3e7ccc;
    border-radius: 20%;
}

.card__delete:hover {
    background-color: #3e7ccc;
    color: #fff;
}