$hoverTextColor: #57A4A4;
$hoverBackground: #E5E5E5;
$menu-itemsColor: #4E4E4E;
$postHeaderTextColor: #4E4E4E;
$postDescriptionAndReferencesTextColor: #7C7C7C;

$breakpoint_320: 320px;
$breakpoint_768: 768px;
$breakpoint_1200: 1200px;