.section-title {
    font-family: Montserrat;
    font-size: 12px;
    color: #726f6f;
    position: relative;
    width: 1280px;
    height: 8px;
    background: #FFFFFF;
}
.nav {
    padding: 0px;
}
.section {
    text-align: center;
    width: 1280px;
    margin-top: 20px;
}
.nav {
    overflow: hidden;
}
.navigation {
    color: #FF0000;
}
.navigation-link.active {
    color: #FF0000;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 70px;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
}
li {
    display: inline-block;
}
.section-text {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
}
.text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    size: 16px;
    padding: 0px 67.5px 28px 67.5px;
    letter-spacing: 2.4px;
}
.button {
    border-radius: 4px;
    margin: 66px 54px 42px 544px;
}
.button-text {
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 700;
    text-align: center;
    background-color: #FF0000;
    display: inline-block;
    padding: 19px 27px;
    line-height: 14px;
    border-radius: 4px;
    white-space: nowrap;
}
.footer-text {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    padding-left: 713px;
    padding-bottom: 28px;
    letter-spacing: 2.4px;
    white-space: nowrap;
}
.single-block {
    padding: 0 calc(50% - 590px);
}
