.container {
    width: 100%;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    padding: 80px 40px;
    width: 400px;

    border-radius: 25px;
    background-color: #e1e3e3;
}

.list {
    list-style-type: none;
    padding: 0;
    width: 250px;
}

.list-elem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.list-bold {
    font-weight: 600;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 250px;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.floating-button:hover {
    background: grey;
    box-shadow: 0 15px 20px rgba(59, 155, 300, .4);
    color: white;
    transform: translateY(+5px);
}

.image {
    visibility: hidden;
    position: absolute;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
}