body {
    font-family: 'Roboto', sans-serif;
}
.container {
    background-image: url("../img/background.png");
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.header-logo-item4 a {
    color: #ffffff;
    font-size: 18px;
}
.header-logo-item5 {
    padding-top: 19px;
    margin-left: 5px;
}
.header-logo-item5 a {
    color: #ffffff;
}
.logo .header-logo-text-item1{
    font-size: 29px;
    text-transform: uppercase;
}
.logo .header-logo-text-item2 {
    font-size: 18px;
    text-transform: uppercase;
}
.header-logo-main {
    background-image: url("../img/logo.svg");
    width: 53px;
    height: 47px;
    display: inline-block;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.logo:hover .header-logo-main {
    background-image: url("../img/logo2.png");
}
.logo:hover .header-logo-text {
    color: #F26522;
}
.logo:hover .tex2 {
    color: #F26522;
}
.header-logo-item4 a:hover {
    color: #F26522;
}
.header-logo-item5 a:hover  {
    color: #F26522;
}
.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 1030px;
    height: 560px;
    margin: 0 auto;
    gap: 50px;
    padding-top: 22px;
}
.container-grid a {
    text-decoration: none;
    color: #FFFFFF;
    flex-direction: column;
}
.services-card-content {
    display: flex;
    padding-top: 17px;
    justify-content: center;
}
.container-grid-div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.container-grid-div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.container-grid-div3 {
    grid-area: 1 / 3 / 2 / 4;
}
.container-grid-div4 {
    grid-area: 2 / 1 / 3 / 2;
}
.container-grid-div5 {
    grid-area: 2 / 2 / 3 / 3;
}
.container-grid-div6 {
    grid-area: 2 / 3 / 3 / 4;
}
.footer-item {
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    padding-top: 49px;
}
header {
    display: flex;
}
.logo {
    margin-left: 161px;
    margin-top: 51px;
}
.contacts {
    margin-top: 49px;
    margin-left: 660px;
}
.header-logo-item5{
   padding-left: 81px;
}
.header-logo-text {
    display: inline-block;
    color: #FFFFFF;
}
.header-logo-text-item2{
    font-weight: 700;
    padding-top: 4px;
    font-size: 29px;
    padding-left: 6px;
}
.header-logo-text-item1{
    font-weight: 700;
    font-size: 18px;
    padding-left: 6px;
}
.container-grid-text:hover {
    color: #F26522;
}
.container-grid-div5 {
    display: inline-block;
    position: relative;
}
.slider:hover {
    color: #FFFFFF;
    opacity:1;
    transition: 0.7s;
}
.slider p {
    color: #FFFFFF;
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
}
.slider span {
    color: #FFFFFF;
}
.slider {
    opacity:0;
    position: absolute;
    background: #F26522;
    width: 304px;
    height: 57px;
    margin-top: -94px;
}
.border-item1 {
    background: #F26522;
    font-size: 10px;
}
.border-item2 {
    position: relative;
    background: #F26522;
    margin-top: 20px;
    font-size: 20px;
}
span {
    display: flex;
    position: absolute;
    margin-top:  30px;
    margin-left: 160px;
}
span::after {
    content: "";
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-left: 19px;
    margin-left: 15px;
}


